body {
	text-align: center;
	background-color: #373737;
	color: white;
	font-family: myriad pro;
	font-size: 20pt;
}

#Budget {
	margin-top:-4em;
}

#ClimateParameters {
	margin-top:-5em;
	margin-left: 1em;
}


#decision{
	float:left;
	position:relative;
	width: 40%;
	margin-top:20%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:5%;
	height:50%;
	background-color: rgba(255,255,255,0.5); /* Black background with opacity */
	z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */}

#social{
	float:right;
	position:relative;
	width:40%;
	height:50%;
	margin-top:20%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:5%;
	background-color: rgba(255,255,255,0.5); /* Black background with opacity */
	z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#action{
	float:left;
	position:relative;
	display:none;
	width: 40%;
	margin:5%;
	height:50%;
	background-color: rgba(255,255,255,0.5); /* Black background with opacity */
	z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer;/* Add a pointer on hover */
}

#overlay{
	position:fixed;
	display: none;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}


#overlay{
	position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


