
h1 {
	color: red;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#Actions {
	display: none;
}

#actions_button {
	font-size:40pt;
	color: white;
}

#decision {
  float: left;
  width: 35em; /* Full width (cover the whole page) */
  /*height: 100%; /* Full height (cover the whole page) */
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#social {
  float: left;
  width: 35em; /* Full width (cover the whole page) */
  /*height: 100%; /* Full height (cover the whole page) */
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#world {
	width: 100%;
}

path:hover, circle:hover {
  stroke: #83C419 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #83C419 !important;
  cursor: pointer;
}

svg {
    background: #002868;
	float: left;
	width:100%;
}